<!--お祈りメッセージ投稿フォーム-->
<div class="bg-img-form">
  <section id="form-oinori" class="wrapper">
    <p class="white">個人や企業が特定できる逆質問はしないでくださいね。</p><br>
    <%= form_with model: @ask, local: true do |f| %>
      <%= f.text_area :body, placeholder: "　逆質問で面接官の心を惹こう", size: "80x5" %><br>
      <%= f.submit "　逆質問する　" %><br>
    <% end %>
  </section>
</div>

<!--お祈り一覧(新着順)-->
<section id="index-latest" class="wrapper">
  <h2 class="section-title">逆質問一覧　<span class="small">( <%= @asks.count %> 件)</span></h2>
  <div class = "section-sort">
    <%= link_to '新しい順', asks_path(latest: "true"), class: "blue" %><span>　|　</span>
    <%= link_to '古い順', asks_path(old: "true"), class: "blue" %><span>　|　</span>
    <%= link_to '人気順', asks_path(good: "true"), class: "blue" %><span>　|　</span>
  </div>
  <% @asks.each do |ask| %>
    <%= render partial: "asks/asks", locals: {ask: ask} %>
  <% end %>
</section>