<!-- ========== 部分テンプレート：each文内の共通コード ========== -->
<div class = "flex-index">
  <div class="flex-left">
    <!-- ---------- lolボタン ---------- -->
    <div class = "lol_<%= post.id %> btn-lol">
      <%= render partial: "lols/lol", locals: { post: post} %>
    </div>

    <!-- ---------- 感情スコア ---------- -->
    <div class="sentiment-score">
      <span>辛辣度：</span>
      <% if post.score == -0.9 || post.score == -0.8 || post.score == -0.7 %>
        100%
      <% elsif post.score == -0.6 || post.score == -0.5 %>
        90%
      <% elsif post.score == -0.4 %>
        80%
      <% elsif post.score == -0.3  %>
        70%
      <% elsif post.score == -0.2 %>
        60%
      <% elsif post.score == -0.1 %>
        50%
      <% elsif post.score == 0.0 %>
        40%
      <% elsif post.score == 0.1 %>
        30%
      <% elsif post.score == 0.2 %>
        20%
      <% elsif post.score == 0.3 %>
        10%
      <% else %>
        0%
      <% end %>
    </div>

    <!-- ---------- 削除ボタン ---------- -->
    <!--条件：管理者ログイン中 or 投稿者(IPアドレスで判断)-->

    <% if logged_in? %>
      <div class="btn-delete">
        <%= link_to post_path(post.id), method: :delete, data: {confirm: "本当に削除しますか"} do %>
          <p>削除</p>
        <% end %>
      </div>

      <div class="x-small">
        <%= post.ip %>
      </div

    <% elsif post.ip == request.ip %>
      <div class="btn-delete">
        <%= link_to post_path(post.id), method: :delete, data: {confirm: "本当に削除しますか"} do %>
          <p>削除</p>
        <% end %>
      </div>

      <div>
        <%= link_to "編集", edit_post_path(post) %>
      </div>
    <% end %>
  </div>

  <!-- ---------- 投稿文 ---------- -->
  <div class = "flex-right">
    <%= post.body %>
  </div>
</div>

