<!--お祈りメッセージ投稿フォーム-->
<div class="bg-img-form">
  <section id="form-oinori" class="wrapper">
    <p class="white">個人や企業が特定できるお祈りはしないでくださいね。</p><br>
    <%= form_with model: @post, local: true do |f| %>
      <%= f.text_area :body,placeholder: "　日本には400万近くの企業があるからまだ大丈夫", size: "80x5" %><br>
      <%= f.submit "　祈りを捧げる　" %><br>
    <% end %>
  </section>
</div>

<!--お祈り一覧(新着順)-->
<section id="index-latest" class="wrapper">
  <h2 class="section-title">お祈り一覧　<span class="small">( <%= @posts.count %> 件)</span></h2>
  <div class = "section-sort">
    <%= link_to '新しい順', root_path(latest: "true"), class: "blue" %><span>　|　</span>
    <%= link_to '古い順', root_path(old: "true"), class: "blue" %><span>　|　</span>
    <%= link_to '人気順', root_path(lol_count: "true"), class: "blue" %>
  </div>
  <% @posts.each do |post| %>
    <%= render partial: "posts/posts", locals: {post: post} %>
  <% end %>
</section>

