<header id="header">
  <h1>お祈り.com</h1>
</header>

<main>
  <!--お祈りメッセージ投稿フォーム-->
  <div class="bg-img-form">
    <section id="form-oinori" class="wrapper">
      <p>個人や企業が特定できるお祈りはしないでくださいね。</p><br>
      <%= form_with model: @post, local: true do |f| %>
        <%= f.text_area :body,placeholder: "　日本には400万近くの企業があるからまだ大丈夫", size: "80x5" %><br>
        <%= f.submit "　祈りを捧げる　" %><br>
      <% end %>
    </section>
  </div>

  <!--お祈り一覧(人気順)-->
  <section id="index-popular" class="wrapper">
    <h2 class="section-title">人気のお祈り</h2>
    <% @popular_posts.each do |post| %>
      <%= render partial: "posts/posts", locals: {post: post} %>
    <% end %>
  </section>

  <!--お祈り一覧(新着順)-->
  <section id="index-latest" class="wrapper">
    <h2 class="section-title">お祈り一覧</h2>
    <% @latest_posts.each do |post| %>
      <%= render partial: "posts/posts", locals: {post: post} %>
    <% end %>
  </section>
</main>

<footer id="footer">
  <p>
    <%= link_to login_path do %>
      &copy;
    <% end %>
    <span>2022 お祈り.com</span>
  </p>
</footer>
