<!DOCTYPE html>
<html>
  <head>
    <title>OinoriCom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--レスポンシブデザイン用-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header id="header">
      <h1><%= link_to "お祈り.com", root_path %></h1>
      <ul id="navbar">
        <li>
          <%= link_to root_path do %>
            <span>お祈り</span>
            <% if @latest_post.created_at + 3.day > Date.today %>
              <i class="fas fa-star new-info">New<span class="normal">(3日以内)</span></i>
            <% end %>
          <% end %>
        </li>
        <li>
          <%= link_to asks_path do %>
            <span>逆質問</span>
            <% if @latest_ask.created_at + 3.day > Date.today %>
              <i class="fas fa-star new-info">New<span class="normal">(3日以内)</span></i>
            <% end %>
          <% end %>
        </li>
      </ul>
      <% if logged_in? %>
        <p class="red">　管理者ログイン中　：　<%= link_to 'ログアウト', logout_path, method: :delete, class: "red bold" %></p>
      <% end %>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer id="footer">
      <p>
        <%= link_to login_path do %>
          &copy;
        <% end %>
        <span>2022 お祈り.com</span>
      </p>
    </footer>
  </body>
</html>
